/*
    Helper CSS

    Text properties
*/
.text-strong {
	font-weight: bold;
}

.text-strike {
	text-decoration: line-through;
}

.text-xs {
	font-size: 70%;
}

.text-s {
	font-size: 85%;
}

.text-m {
	font-size: 100%;
}

.text-l {
	font-size: 115%;
}

.text-xl {
	font-size: 130%;
}

.text-xxl {
	font-size: 145%;
}

